@using prjSpecialTopicMvc.Features.Usedbook.Application.DTOs.Responses
@{
    ViewData["Title"] = "使用者登入";
}

<div class="container my-4">
    <h2 class="mb-4">使用者登入</h2>

    <section class="d-flex flex-wrap align-items-center justify-content-center gap-2 my-3 my-5">
        <form asp-controller="UsedBookAuth" asp-action="LoginAdmin" method="post" class="m-0">
            <button type="submit" class="btn btn-info">登入管理員</button>
        </form>
        <form asp-controller="UsedBookAuth" asp-action="LoginSeller" method="post" class="m-0">
            <button type="submit" class="btn btn-info">登入賣家</button>
        </form>
        <form asp-controller="UsedBookAuth" asp-action="Logout" method="post" class="m-0">
            <button type="submit" class="btn btn-outline-info">登出</button>
        </form>
    </section>
</div>
